*{
    margin:0; padding:0;
}
h1, img {
    text-align: center;
}/* Color Theme Swatches in Hex */
.My-Color-Theme-1-hex { color: #1C2380; }
.My-Color-Theme-2-hex { color: #858DFF; }
.My-Color-Theme-3-hex { color: #3946FF; }
.My-Color-Theme-4-hex { color: #424680; }
.My-Color-Theme-5-hex { color: #2D37CC; }

.header{background-color:#858DFF;}
.header h1{padding:30px;
    font-size:200pt;
    font-family: 'Courier Prime', monospace;}

.projects{background-color: white;}
.resume{background-color:#858DFF;}
.my-accounts{background-color:white;}