*{
    margin:0; padding:0;
}
h1, img {
    text-align: center;
}/* Color Theme Swatches in Hex */
.My-Color-Theme-1-hex { color: #1C2380; }
.My-Color-Theme-2-hex { color: #858DFF; }
.My-Color-Theme-3-hex { color: #3946FF; }
.My-Color-Theme-4-hex { color: #424680; }
.My-Color-Theme-5-hex { color: #2D37CC; }

.header{background-color:#858DFF;}
.header h1{padding:30px;
    font-size:40pt;
    font-family: 'Courier Prime', monospace;}

.projects{background-color: white;}
.resume{background-color:#858DFF;
    font-family: 'Gelasio', serif;


    text-align:center;
display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:center;
}
.resume-segment{width:37vw;
    padding-left:30px;
    padding-right:30px;
    margin-top:10px;
    margin-bottom:10px;
min-width: 400px;
max-width: 100vw;}
.fw{min-width: 100vw;
    max-width: 100vw;
    width: 100vw;

    font-family: 'Gelasio', serif;


}
.job-title{font-size:17pt;
    padding-bottom:10px;
}
.date{font-size:17pt;
    padding-bottom:10px;
}
.job-description{font-size:13pt;
    padding-bottom:10px;
}
.resume-title{font-size:25pt;
    padding-bottom:10px;
}
.my-accounts{background-color:white;

}
